
/* INICIO DE PAGINA DE CARRITO */
body{
    background-color: #E9EDEB;
}
.nav-compras{
    text-transform: uppercase;
}
.navCompras{
    width: 90%;
    margin: auto;
}
/* menu numerico */
.deco{
    width: 100%;
    align-self: center;
}
.menuNumerico{
    align-items: center;
    margin: 0 auto;
    width: 95%;

}
.menuNumerico p{
    padding: 10px 18px;
    border-radius: 50%;
    font-weight: bold;
    color: white;
    background-color:#274A38;
    margin-bottom: 2px;
}
.navComprasText{
    margin-right: 3%;
    color: #274A38;
}
.navComprasText p:nth-child(2){
    margin-right: 10px;
}


/* inicio de pasos envio */
.pasosEnvio{
    display: flex;
    justify-content: space-between;
    background-color: #CFAA90;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
    padding: 10px 5px;

}
.itemEnvio:first-child,.itemEnvio:last-child{
    width: 35%;
}

.imgEnvio{
    width: 70px;
    padding: 5px;
    text-align: center;
}
.imgEnvio img{
    width: 100%;
}
.itemEnvio p{
    margin-bottom: 2px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.itemEnvio:nth-last-child(2) img:first-child{
    width: 50px;
}


/* fin Seccion de item de pasos del envio */

/* inicio de formulario de carrito */
#form{
    width: 90%;
    margin: auto;
}
.form-carrito h2,.msgxCompra{
    color: #274a38;
}
.msgxCompra{
    padding: 5%;
    margin: 0 5%;
    font-size:  calc(.5rem + 0.5rem);
}
.form-carrito label{
    color: #979797;

}
.form-carrito input[type="radio"]{
    accent-color: rgb(0, 0, 0) ;
}
.form-carrito input{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-carrito input::placeholder{
    font-style: italic;
}
.btn-verde{
    border-radius: 30px;
    padding: 10px 20px;
    background-color: #274A38;
    color: white;
    font-weight: 200;
    border: none;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5), 0 0 0 0 transparent;
}
.msg-compraExitosa{
    padding: 10px 15px;
    font-size: 14px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border: #274A38 solid 1.5px;
    border-radius: 20px;
    color: #274A38;
    background-color: rgb(252, 252, 252);
    max-height: 400px;
    overflow: auto;
}
.msg-compraExitosa p{
    padding: 0 25px;
}
#btnSacarCartel{
    border: none;
    background-color: transparent;
    margin-left: 92%;
    margin-top: 8px;
    font-size: 20px;
}
/*  fin de formulario de carrito */

.quitar{
    display: none;
}

.posicionarMensaje{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    z-index: 100;
}

#contenedorDesabilitado{
    position: relative;
    
}
.desabilitar{
    background-color: rgba(53, 53, 53, 0.4);
}
#btn-volverATienda{
    color: #274A38;
    text-decoration: underline;
    background-color: transparent;
}
#btn-continuarCarrito{
    margin: 10px 0;
}
#btn-volver{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 20px;
}
/* estilo tarjeta */

/* contenedor de toda la seccion de tarjeta */
.contenedor-listadoCompras{
    width: 90%;
    height: 65vh;
    margin: auto;
    color: #274A38;
}
/* ul del listado de tarjetas */
.listadoCompras{
    padding: 0;
}
/* li de cada tarjeta */
.contenedorTarjeta{
    display: flex;
    border-bottom: 1px solid #979797;
    padding: 10px;
}
.imgTarjeta{
    border-radius: 10px;
    align-self: center;
    width: 40%;
}

.imgTarjeta img{
    object-fit: cover;
    object-position: center;
    width: 100%;

} 
.informacion{
    width: 100%;
    padding-left: 10px;
    align-self: center;
}

.infoCompra h3{
    overflow: hidden;
    max-width: 40vw;
    text-overflow: ellipsis;
    font-size: calc(.7em + 0.5em);
    text-wrap: nowrap;
    margin-bottom: 0;
}
.precioxUnidad p,.precioTotal p, .especificaciones p{
    margin: 0;
    padding: 2px 0;
}
.especificaciones{
    padding-bottom: 12px;
}
.btnEliminar{
    background-color: hsl(0, 100%, 82%, 50%);
    color: #AD2020;
    border: none;
    padding: 2px 12px;
    border-radius: 5px;
    font-weight: bold;
    align-self: flex-start;
}
.infoTop,.precioxUnidad,.precioTotal,
.resumenCompra,.totalProductos,.infoEnvio,.totalPago,.navComprasText,.menuNumerico,.deLado{
    display: flex;
    justify-content: space-between;
}

.precioTotal,.totalPago,.deco{
    border-top: solid 1px #979797;
}

.facturaCompra{
    margin-left: auto;
    width: 70%;
    text-transform: uppercase;
    font-size: calc(.3em + 0.5em);
    padding: 10px;
}

.precioxUnidad p,.precioTotal p,.navComprasText p{
    margin: 0;
}
.btn-seguiroFinalizar{
    margin-bottom: 10%;
}

.contArticulo{
    overflow: auto;
    height: 85%;
    margin-bottom: 10px;
}

@media screen and (min-width: 500px){
    .imgTarjeta{
        width: 30%;
    }
    #form{
        width: 80%;
    }

}
@media screen and (min-width: 600px){
    .contenedorTarjeta{
        width: 80%;
        margin: auto;
    }
    .contenedor-listadoCompras{
        width: 70%;
    }
    .imgTarjeta{
        width: 20%;
    }
    
.facturaCompra{
    width: 60%;
    font-size: calc(.5em + 0.5em);
    margin-right: 10%;
}
.btn-seguiroFinalizar{
    justify-content: space-around;
}
/* inicio de pasos envio */

.itemEnvio{
    width: 30%;
}
/* fin de pasos envio */

#form{
    width: 70%;
}

.posicionarMensaje{
    width: 70%;
}
}
@media screen and (min-width: 700px){
    /* menu numerico */
.deco{
    width: 100%;
    align-self: center;
}
.menuNumerico{
    align-items: center;
    margin: 0 auto;
    width: 95%;

}

.navComprasText{
    margin-left: 1.5%;
    margin-right: 3%;
}
.navComprasText p:nth-child(2){
    margin-right: 2.5%;
}
.posicionarMensaje{
    top: 60%;
}
}
@media screen and (min-width: 1300px){
    .posicionarMensaje{
        top: 70%;
        width: 40%;
    }
    .navComprasText p:nth-child(2){
        margin-right: 0.6%;
    }
    .msgxCompra{
        font-size:  calc(.8rem + 0.5rem);
    }
}

