:root{
    --color-principal: blue;
}
#btn-cerrar{
    /* display: none;
    background: green; */
}

#buscador-icono:hover{
    background-color: rgba(0, 0, 0, 0.096);
    box-sizing: border-box;
    border: 1px;
    padding-left: 15px;
    border-radius: 30%;
}


#formulario-buscador{
    display: none; 
    padding-right: 5px;
}

h1 {
    background-color: red;
    width: auto;
    height: 400px;
}
/* ------------------------------ ITEM CATEGORIAS Y SUB-CATEGORIAS */
/* modificar las medidas para que no sean abosolutas */
.item-categoria,.item-subCategoria{
    margin: 5px;
    background-color: #d9d9d9;
    border-radius: 2px;
    text-align: center;
}

.item-categoria{
    padding: 40px;
    width: max-content;
 }
 .item-subCategoria{
    padding: 30px;
    width: 90%;
}
 .row{
    justify-content:center;
    padding: 0;
    margin: 0;
 }
 .text-categoria{
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

/* ---------------------FIN DE ITEMS CATEGORIA */
