@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

:root {
    --color-naranja: #FF9800;
    --color-negro: #000000;
    --color-gris: #979797;
    --color-fondo: #E9EDEB;

    /*primary*/
    --color-verde: #274A38;
    /*main*/
    --color-blanco: #ffffff;
    /* error */
    --color-rojo: #E74C3C;
    /* secundary */
    --color-amarall: #ECAE03;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #E9EDEB;
}
/* ------------------------------  Barra de navegación (NAVBAR) */
body{
    background: var(--color-fondo);
}
.navbar-collapse.collapse {
    flex-grow: 0;
    order: 0;
}

.lupa-icono-container {
    order: 2;
}

.navbar-brand {
    order: 1;

}

.logoBrand {
    width: 121px;
    height: 40px;
}

#bucador-input input {
    /* BUSCADOR */
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100vh;

}

/* ---------------------FIN DE Barra de navegación (NAVBAR)*/

/* ------------------------------ PRIMER CAROUSEL */
#mycarousel .carousel-item {
    height: 60vh;
    background-repeat: no-repeat;
    /* object-fit: cover; */
    background-size: cover;
    background-position: center;
}

.texto-imagen {
    width: min(300px, 30vh);
    height: fit-content;
    text-align: start;
    top: 1vh;
}



.custom-tooltip .tooltip-inner {
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    width: 90px;
    text-align: center;
    padding: 3px 10px;
    line-height: 1.3;
    
}   


.btn-card-info {
    padding: 5px;
    border-radius: 50%;
}


/* botones y texto imagen 1 del carusel */
.presentacion-1 {
    background-image: url('https://images.unsplash.com/photo-1658532347726-5cd166bbd9ae?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    display: block;
    position: relative;
    z-index: -1;
}

#mycarousel .presentacion-1 h1 {
    overflow: visible;
    width: 150px;
}



/* botones y texto imagen 2 del carusel */
.presentacion-2 {
    background-image: url('./images/carosel2.avif');
    display: block;
    background-size: cover;
}

#mycarousel .presentacion-2 h1 {
    /* overflow: hidden; */
    width: 158px;
}


/* ---------------------FIN DE PRIMER CAROUSEL*/

/* ------------------------------ ITEM CATEGORIAS Y SUB-CATEGORIAS */
/* modificar las medidas para que no sean solutas */

.titulos {
    background-color: var(--color-naranja);
    font-size: 20px;
    color: #274A38;
}

.container-categorias {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;

}

.item-categoria {
    background-size: cover;
    background-position: center;
    flex: 1 1 150px;
    /*Mínimo de 150px, pero puede ocupar más espacio si está disponible */
    margin: 8px;
    min-height: 180px;
    padding: 16px;
    display: inherit;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.item-categoria {
    width: max-content;
    padding: 10px;
}

.item-subCateg {
    background-color: var(--color-verde);
    color: white;
    font-size: 26px;
    border: 2px solid var(--color-verde);
    height: 108px;
    text-decoration: none;
    
}

.item-subCateg:first-child{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;

}
.item-subCateg:last-child{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.item-subCateg:hover {
    background-color: white;
    color: var(--color-verde);
}




.categ-1 {
    background-image: url('https://images.unsplash.com/photo-1698244327424-c6710b88e664?q=80&w=1664&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}

.categ-2 {
    background-image: url('https://images.unsplash.com/photo-1513276193780-64b881470da8?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}

.categ-3 {
    background-image: url('https://images.unsplash.com/photo-1568688574210-419316c9db5d?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}

.categ-4 {
    background-image: url('https://images.unsplash.com/photo-1602845860431-35374f24f48d?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}


/* ---------------------FIN DE ITEMS CATEGORIA */

/* --------------------- FOOTER */
footer {
    background-color: #274A38;
    height: max-content;

}
.redesSociales{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;

}
.deco-line-footer {
    border-top: white solid 1.5px;
    width: 100%;
    margin-top: 50px;
}
.logoFooter img{
    width: 150px;
    padding-bottom: 10px;
}
.itemsRedes {
    display: inherit;
    justify-content:space-evenly;
    align-items: end;
    height: max-content;
    column-gap: 20px;
    width: 350px;
    padding: 10px;
    margin-top: 30px;
}
.itemsRedes img{
    width: 22px;
}
.info-footer{
    display: flex;
    color: white;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 10px;

}
footer p{
    margin-bottom: 0;
}
/* --------------------- FIN ESTILOS FOOTER */

/* CONTACTO */
.contacto .container-fluid {
    overflow: visible;
}

.fondo-contacto {
    background-image: url(./images/fondo-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    padding: 20% 5%;
    align-items: center;
}

.fondo-contacto form button {
    background-color: var(--color-blanco);
    color: var(--color-verde);
    display: flex;
    width: max-content;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: var(--color-blanco);
}

.fondo-contacto form button:active {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}
.boxContacto{
    background-color: hsl(0, 0%, 100%,30%);
    border-radius: 30px;
    height: max-content;
}

.titleContacto{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
}
.boxContacto input::placeholder,.boxContacto textarea::placeholder{
    font-style: italic;
}
/* --------------------- FIN CONTACTO */

/* --------------------- SECCION 4: TENDENCIAS */
.tendencias img {
    background-position: 50% 50%;
    filter: brightness(1);
    height: 30vh;
}

/* --------------------- FIN SECCION 4: TENDENCIAS */

/* --------------------- INICIO: PAG NOSOTROS */
.text-presentacion {

    padding: 24px 24px 38px 25px;
    justify-content: center;
    background-color: #ffffffbd;
    border-radius: 24px;

    overflow: auto;
    line-height: 23px;
    max-height: 85vh;

}

.fondo-nosotros {
    background-image: url(./images/fondo-nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 100vh;
    color: #274A38;
    display: flex;
    align-items: center;
}

/* --------------------- FIN: PAG NOSOTROS */
/* ----------------------Inicio pagina productos */
/* iNICIO DE NAV DE PRODUCTOS */

/* 

OJO: ESTA CODIGO AHORA ESTA EM LA CARPETA :
Frontend/Productos/productosEstilos.css

*/

/* FIN DE MUESTRA DE PRODUCTOS */
/* ----------------------Fin pagina productos */


/* MEDIA QUERY RESPONSIVO */

/* NAVBAR */
@media screen and (min-width: 500px) {
    .tendencias img {
        background-position: 50% 50%;
        filter: brightness(1);
        height: 75vh;
    }

    .buzo-img-1,
    .zapatillas-img-1,
    .buzo-img-1,
    .gorra,
    .ramera-m-img2,
    .pantalon-1,
    .gorra-img2,
    .ramera-c-img2 {
        z-index: -1;
        display: none;
    }


    .tendencias img {
        height: 40vh;
    }


}
@media screen and (min-width: 576px){


    .item-subCateg:first-child{
        border-top-right-radius: 30px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    
    }
    .item-subCateg:last-child{
        border-bottom-left-radius: 30px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
    }
    .info-footer{
    justify-content: space-around;
}
    
@media screen and (max-width: 991px) {

    .collapse.navbar-collapse,
    .lupa-icono-container,
    .navbar-brand {
        /*  Aquí asigno 0 a las clases del navbar para que no colapse los elementos*/
        order: 0;
    }

}
@media screen and (min-width: 991px) {


    #logoParaCentrar {
        /* margin-right: 145px; */
        margin-left: -257px;
    }
    .tendencias img {
        height: 81vh;
    }

    /* sub categoria home */
    .item-categoria {
        width: 268.235px;
        height: 285px;
        margin-left: 21px;
        margin-right: 21px;
    }

    .container-categorias {
        display: flex;
        flex-wrap: wrap;
        margin: 14px 34px;
    }
    .item-subCateg {
        height: 300px;
        margin: auto;
    }

}


}
